# Maven build output
/target/
!.mvn/wrapper/maven-wrapper.jar

# Logs
*.log

# Compiled class files
*.class

# OS-specific files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.classpath
.project
.settings/

# Test reports
/surefire-reports/

# Temp & backup files
*~
*.swp

# Environment files
.env
